// Primary Colors
$primaryCorporateRed: #DA291C;
$primaryCorporateYellow: #FFD700;
$primaryCorporateBlack: #000000;
$primaryCorporateWhite: #FFFFFF;

// Secondary Colors
$secondaryCorporateRed: #F40008;
$secondaryCorporateYellow: #FFD500;
$secondaryCorporateGreen: #00B33B;
$secondaryCorporateBlue: #006DC0;
$secondaryCorporateLightBlue: #01A5E2;
$secondaryCorporateViolet : #4E2B93;
$secondaryCorporatePink : #FEA8CF;


// Neutrals
$NeutralLight : #E0E0E0;
$NeutralLighter : #F2F2F2;