// Typography Variables
$font-primary: "Cera Pro", sans-serif;

// Font Weights
$font-weight-regular: 400;
$font-weight-bold: 700;

// Font Sizes
$font-size-heading-1: 66px;
$font-size-heading-2: 46px;
$font-size-title-1: 28px;
$font-size-title-2: 24px;
$font-size-body: 16px;
$font-size-menu: 16px;
$font-size-menu-small: 14px;
$font-size-footer: 12px;

// Line Heights
$line-height-heading-1: 80px;
$line-height-heading-2: 56px;
$line-height-title-1: 40px;
$line-height-title-2: 36px;
$line-height-body: 24px;
$line-height-menu: 20px;
$line-height-menu-small: 18px;
$line-height-footer: 20px;

// Primary Colors
$color-primary-red: #da291c; // Corporate Red Pantone 485
$color-primary-yellow: #ffd700; // Yellow, Pantone Yellow 012C
$color-primary-black: #000000; // Corporate Black, Pantone Black
$color-primary-white: #ffffff; // Corporate White, Pantone White

// Secondary Colors
$color-secondary-1: #006dc0; // Secondary Color 3
$color-secondary-2: #fea8cf; // Secondary Color 6
$color-secondary-6: #ffd500; // Secondary Color 2
$color-secondary-3: #00b33b; // Secondary Color 4
$color-secondary-4: #4e2b93; // Secondary Color 5
$color-secondary-5: #f40008; // Secondary Color 1
$color-secondary-7: #01a5e2; // Secondary Color 7
$color-secondary-8: #201d48;

// Neutral Colors
$color-neutral-light: #e0e0e0; // Light
$color-neutral-lighter: #f2f2f2; // Lighter
