
@font-face {
  font-family: "Cera Pro Bold";
  src: url("./assets/fonts/Fontspring-DEMO-cerapro-bold.otf") format("woff2");
  /* font-weight: 700; */
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro Medium";
  src: url("./assets/fonts/Fontspring-DEMO-cerapro-medium.otf") format("woff2");
  /* font-weight: 600; */
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro Regular";
  src: url("./assets/fonts/Fontspring-DEMO-cerapro-regular.otf") format("woff2");
  /* font-weight: 400; */
  font-style: normal;
}

h1,
h2 {
  font-family: "Cera Pro Bold";
}
h3 {
  font-family: "Cera Pro Medium";
}
p {
  font-family: "Cera Pro Regular";
}


